<script>

    $(document).ready(function () {
        BindEmployees();
    });
    function BindEmployees() {
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "{% url 'get_data' %}", success: function (data) {
                result = data.emp
                var totalCount = result.length;
                var structureDiv = "";
                for (let i = 0; i < totalCount; i++) {
                    structureDiv += "<tr>" +
                        "     <td>" + result[i].id + "</td>" +
                        "      <td>" + result[i].name + "</td>" +
                        "             <td>" + result[i].email + "</td>" +
                        "              <td>" + result[i].task + "</td>" +
                        "                <td>" + result[i].designation + "</td>" +
                        "                 <td>" + result[i].joining_date + "</td>" +
                        "            <td><button class='fa fa-edit btn btn-warning btn-sm' onclick='return confirm(\"Are you sure you want to edit this record?\",EditRow(" + result[i].id + "))'> Edit</button></td>" +
                        "              <td><button class='fa fa-trash btn btn-danger btn-sm' onclick='return confirm(\"Are you sure you want to delete this record?\",DeleteRow(" + result[i].id + "))'> Delete</button></td>" +
                        "           </tr>";
                }

                $("#divBody").html(structureDiv);

            }
        });

    }

    function EditRow(id) {
            
        window.location.assign("edit/"+id); 
    }

    function DeleteRow(id) {
            
        window.location.assign("delete/"+id); 
    }

</script>
